/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.cpcache
.env
.clerk
.idea
/.idea/
cicd/terraform/terraform.tfstate.backup
cicd/terraform/terraform.tfstate.d/terraform.tfstate.backup
.history/
*.terraform
.terraform.lock.hcl
/.dir-locals.el
cicd/credentials/*.json
/roam
/.lsp
/.clj-kondo
/tmp
/staging-tfvars.json
/production-tfvars.json
/dev-tfvars.json

/keywords/*.edn
/keywords/*.json

